* {
    margin: 0;
    padding: 0;
    border: 0;
}

@font-face {
    font-family: 'New June';
    src: url('../assets/fonts/NewJune-Regular.otf');
}

body {
    font-family: 'New June';
    background: #fff;
}

h1 {font-size: 2.9em; line-height: 1.3em; font-weight: lighter;}
h2 {font-size: 2.0em; font-weight: lighter;}
h3 {font-size: 1.4em; font-weight: lighter;}

a {
    color: #000;
}

::-webkit-scrollbar {
    height: 0;
    width: 10px;
}

::-webkit-scrollbar-track {
  background: #ccc; 
}

::-webkit-scrollbar-thumb {
    background: #333; 
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* HEADER */

.header {
    grid-area: header;
    padding: 20px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: #fff;
    z-index: 999;
}

.header__logo {
    width: 80px;
}

.header__menu {
}

.header__list {
    display: flex;
}

.header__item {
    display: flex;
    align-items: center;
    height: 20px;
    padding: 0 10px;
}

.header__dot {
  width: 5px;
  height: 5px;
  background: #666;
  border-radius: 50%;
  margin: 0 10px 0 0;
}

.header__dot--active {
  background: #00ff5f;
}

.header__link {
    text-decoration: none;
}

.header__link--active {
    font-weight: bolder;
}

/* HEADER */

/* BUTTON */

.button {
    cursor: pointer;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 10px;
}

.button--lg {
    padding: 14px 38px;
    font-size: 16px;
}

.button--dark {
    background: #000;
    color: #fff;
}

.button--green {
    background: #01ff51;
    color: #333;
}

.button--grey {
    background: #d6d6d6;
    color: #333;
}

.button-group {
    display: flex;
}

.button-group .button:last-child {
    border-radius: 0 10px 10px 0;
}

.button-group .button:first-child {
    border-radius: 10px 0 0 10px;
}

/* BUTTON */

/* COVER */

.cover {
    grid-area: cover;
    padding: 0 0 40px 0;
    margin: 93.33px 0 0 0;
}

.cover__container {
    padding: 0 35px;
}

.cover__image {
    margin: auto;
    width: 80%;
    height: 80vw;
    max-height: 90vh;
    max-width: 550px;
    background: url('../assets/images/cover-image.png');
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
}

.cover__title {
    width: 86%;
    font-size: 2.8em;
}

.cover__text {
    width: 86%;
    margin: 15px 0;
    line-height: 1.4em;
    color: #333;
    font-size: 1.4em;
}

/* COVER */

.mimos {
    grid-area: mimos;
    background: #ededed;
    padding: 60px 0 40px 0;
}

.mimos__title {
    width: 70%;
    font-size: 2em;
    font-weight: bolder;
}

.mimos__text {
    margin: 15px 0;
    line-height: 1.2em;
    color: #333;
    font-size: 1.4em;
}

.mimos__regra {
    font-size: 1.1em;
    text-decoration: underline;
    background: rgba(0,0,0,0);
    color: #333;
    cursor: pointer;
}

.mimos__container {
    padding: 0 35px;
}

.modal {
    width: 100vw;
    height: calc(100vh - 93.33px);
    background: #f7f7f7;
    position: fixed;
    top: 93.33px;
    left: 0;
    z-index: 99;
    display: none;
    overflow-y: auto;
}

.modal__top {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #c5c5c5;
}

.modal__button {
    width: 25px;
    height: 25px;
    background: url('../assets/icons/close.svg');
    background-size: cover;
    background-position: center;
}

.modal__left {
    padding: 40px 20px;
}

.modal__title {
    font-size: 1.8em;
    font-weight: lighter;
    width: 70%;
}

.modal__right {
    /*ackground: #ededed;*/
    padding: 20px;
}

.modal__subtitle {
    font-size: 1.2em;
}

.modal__text {
    padding: 10px 0;
}

.pay-type {
    margin: 40px 0 0 0;
}

.pay-type__label {
    font-size: 0.9em;
}

.pay-type__item {
    font-size: 1.2em;
    font-weight: bolder;
}

.pay-type__button-group {
    margin: 5px 0;
}

/* SLIDE */

.slide {
    width: 95vw;
    margin: 30px auto 0 auto;
    display: flex;
    overflow-x: auto;
}

.slide__card {
    min-width: 130px;
    height: 110px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    opacity: 0.7;
}

.slide__icon--alimentacao {
    background: url('../assets/icons/food.svg');
    background-size: 50%;
}
.slide__icon--compras {
    background: url('../assets/icons/shop.svg');
    background-position: center;
    background-size: 80%;
    background-repeat: no-repeat;
}
.slide__icon--educacao {
    background: url('../assets/icons/college.svg');
    background-position: center;
    background-size: 80%;
    background-repeat: no-repeat;
}
.slide__icon--entretenimento {
    background: url('../assets/icons/entretenimento.svg');
    background-position: center;
    background-size: 50%;
    background-repeat: no-repeat;
}
.slide__icon--servicos {
    background: url('../assets/icons/services.svg');
    background-position: center;
    background-size: 70%;
    background-repeat: no-repeat;
}
.slide__icon--transporte {
    background: url('../assets/icons/transportation.svg');
    background-position: center;
    background-size: 80%;
    background-repeat: no-repeat;
}
.slide__icon--viagens {
    background: url('../assets/icons/travel.svg');
    background-position: center;
    background-size: 80%;
    background-repeat: no-repeat;
}

.slide__icon {
    width: 90px;
    height: 90px;
    background-position: center;
    background-repeat: no-repeat;
}

.slide__title {
    font-size: 1.1em;
}

.slide__card--active {
    opacity: 1;
}

.slide__card--active .slide__title {
    font-weight: bolder;
}

.descontos {
    grid-area: descontos;
    background: #f7f7f7;
}

.descontos__wave {
    position: absolute;
    width: 50px;
    left: 60px;
    margin: -15px 0 0 0;
    fill: #f7f7f7;
}

.descontos__container {
    padding: 40px 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.descontos__card {
    display: flex;
    width: 95%;
    align-items: center;
}

.descontos__image--ifood {
    background: url('../assets/icons/ifood.svg');
}

.descontos__image--mc {
    background: url('../assets/icons/mc.svg');
}

.descontos__image {
    width: 100px;
    height: 100px;
    margin: 0 20px 0 0;
    background-size: cover;
    background-position: center;
}

.descontos__body {
    display: flex;
    flex-direction: column;
}

.descontos__title {
    font-size: 22px;
    font-weight: bolder;
    display: flex;
}

.descontos__text {
    font-size: 18px;
    margin: 5px 0 0 0;
}

.descontos__line {
    width: 80%;
    height: 1px;
    background: #bbb;
    margin: 35px 0;
}

.vantagens {
    grid-area: vantagens;
}

.vantagens__container {
    padding: 60px 20px 0 20px;
    display: grid;
    grid-template-areas: 
        "title title"
        "carrossel carrossel"
        "lorem lorem"
        "image image";
}

.vantagens__title {
    grid-area: title;
    width: 95%;
    margin: auto;
    text-align: center;
    font-weight: bolder;
    font-size: 1.9em;
}

.vantagens__carrossel {
    grid-area: carrossel;
    margin: 60px 0 0 0;
    padding: 0 20px;
}

.vantagens__item {
    width: 100%;
}

.vantagens__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.vantagens__icon {
    width: 25px;
    height: 20px;
}

.vantagens__icon--left {
    background: url('../assets/icons/left.svg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.vantagens__icon--right {
    background: url('../assets/icons/right.svg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.vantagens__logo--uber {   
    background: url('../assets/icons/uber.svg');
}

.vantagens__logo--uber::before {
    content: "R$ 20 off";
}

.vantagens__logo--cinemark {
    background: url('../assets/icons/cinemark.svg');
}

.vantagens__logo--cinemark::before {
    content: "50% Off";
}

.vantagens__logo--ifood {
    background: url('../assets/icons/ifood.svg');
}

.vantagens__logo--ifood::before {
    content: "$ 20 off";
}

.vantagens__logo {
    width: 180px;
    height: 180px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50%;
    margin: 0 0 20px 0;
}

.vantagens__logo::before {
    position: absolute;
    background: #02ff5f;
    margin: -8px 0 0 100px;
    font-size: 20px;
    font-weight: bolder;
    padding: 5px 15px;
    border-radius: 40px;
}

.vantagens__body {
    text-align: center;
}

.vantagens__text{
    padding: 15px 0;
    font-size: 1.4em;
}

.vantagens__price {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0 0 0;
    font-size: 1.9em;
}

.vantagens__value {
    font-size: 2.8em;
}

.vantagens__obs {
    font-size: 1.9em;
}

.vantagens__navigation {
    padding: 20px 0;
    width: 20%;
    margin: 40px auto 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.vantagens__circle {
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: #ccc;
}

.vantagens__circle--active {
    width: 10px;
    height: 10px;
    background: #333;
}

.vantagens__lorem {
    grid-area: lorem;
    text-align: center;
    font-size: 0.8em;
    color: #aaa;
    margin: 40px 0 60px 0;
}

.vantagens__image {
    width: 290px;
    min-height: 705px;
    margin: 0 auto;
    grid-area: image;
    background: url('../assets/images/card-hand.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.desktop-only {
    display: none;
}
.mobile-only {
    display: initial;
}

/* TABLET */
@media (min-width: 768px) and (max-width: 1281px) {
    #global {
        display: grid;
        grid-template-areas: 
            "header header"
            "cover cover"
            "mimos mimos"
            "descontos descontos"
            "vantagens vantagens";
    }
    
    .cover {
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-around;
        align-items: center;
        padding: 40px 0 0 0;
    }
    
    .cover__image {
        margin: 0;
        height: 535px;
        width: 620px;
    }
    
    .cover__body {
        text-align: center;
        padding: 10px 0 40px 0;
    }
    
    .cover__title {
        margin: 0 auto;
        width: 90%;
    }
    
    .cover__text {
        margin: 10px auto 0 auto;
        width: 60%;
    }
    
    .mimos__body {
        text-align: center;
    }
    
    .mimos__title {
        margin: auto;
    }
    
    .modal {
        text-align: left;
    }
    
    .pay-type {
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .slide {
        overflow-x: scroll;
        margin: 0 auto;
    }
    .descontos {
        display: flex;
        justify-content: center;
    }
    .descontos__container {
        width: 80%;
        flex-direction: row;
    }
    .descontos__card {
        flex-direction: column;
        text-align: center;
    }
    .descontos__image {
        margin: 0 0 20px 0;
    }

    .vantagens__container {
        grid-template-areas: 
            "title title"
            "carrossel image"
            "lorem image"
            ". image";
    }

    .vantagens__title {
        width: 80%;
    }

    .vantagens__image {
        margin: 35px 0 0 0;
    }
    
    .desktop-only {
        display: none;
    }
    .mobile-only {
        display: none;
    }
}

/* DESKTOP */
@media (min-width: 1281px) {
    #global {
        display: grid;
        grid-template-areas: 
            "header header"
            "cover cover"
            "mimos descontos"
            "vantagens vantagens";
    }
    
    .cover {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-around;
        align-items: center;
        padding: 40px 90px 0 90px;
    }
    
    .cover__image {
        margin: 0;
        height: 530px;
        width: 680px;
    }
    
    .cover__container {
        padding: 0;
        width: 30%;
    }
    
    .cover__text {
        width: 70%;
    }
    
    .mimos {
        width: calc(50vw - 130px);
        padding-left: 120px;
    }
    
    .mimos__body {
        width: 70%;
    }
    
    .modal__body {
        display: flex;
        height: 87.5%;
    }

    .modal__left {
        width: 50vw;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .modal__right {
        width: 50vw;
        padding: 0 100px 0 40px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        text-align: left;
        background: #ededed;
    }
    
    .slide {
        width: 100%;
        flex-wrap: wrap;
        overflow-x: hidden;
    }
    .slide__card {
        margin-bottom: 40px;
    }
    .descontos {
        width: 45vw;
        display: flex;
        justify-content: center;
    }
    .descontos__container {
        width: 80%;
        flex-direction: row;
    }
    .descontos__card {
        flex-direction: column;
        text-align: center;
    }
    .descontos__image {
        margin: 0 0 20px 0;
    }
    
    .vantagens {
        width: calc(100% - 120px);
        padding-left: 120px;
    }

    .vantagens__container {
        grid-template-areas: 
            "title image"
            "carrossel image"
            "lorem image";
        grid-template-columns: 50vw 1fr;
    }

    .vantagens__title {
        margin-left: 0;
        width: 50%;
        text-align: left;
    }

    .vantagens__carrossel {
        display: flex;
        justify-content: space-between;
    }

    .vantagens__item {
        width: 30%;
    }

    .vantagens__icon--left {
        background: url('../assets/icons/left.svg');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .vantagens__icon--right {
        background: url('../assets/icons/right.svg');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .vantagens__logo::before {
        position: absolute;
        background: #02ff5f;
        margin: -8px 0 0 100px;
        font-size: 20px;
        font-weight: bolder;
        padding: 5px 15px;
        border-radius: 40px;
    }

    .vantagens__image {
        width: 305px;
        height: 748px;
    }
    
    .mobile-only {
        display: none;
    }
    .desktop-ex {
        display: none;
    }
    .desktop-only {
        display: initial;
    }
}