* {
    margin: 0;
    padding: 0;
    border: 0;
}

@font-face {
    font-family: 'New June';
    src: url('../assets/fonts/NewJune-Regular.otf');
}

body {
    font-family: 'New June';
}

h1 {font-size: 2.9em; line-height: 1.3em; font-weight: lighter;}
h2 {font-size: 2.1em; font-weight: lighter;}
h3 {font-size: 1.4em; font-weight: lighter;}

a {
    color: #000;
}

.bold {
    font-weight: bolder;
}

::-webkit-scrollbar {
    height: 0;
    width: 10px;
}

::-webkit-scrollbar-track {
  background: #ccc; 
}

::-webkit-scrollbar-thumb {
    background: #333; 
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* HEADER */

.header {
    padding: 20px 30px 10px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    width: 80px;
}

.header__menu {
  width: 30%;
  display: flex;
  justify-content: center;
}

.header__item {
  display: flex;
  align-items: center;
  height: 20px;
  margin: 0 10px;
}

.header__dot {
  width: 5px;
  height: 5px;
  background: #666;
  border-radius: 50%;
  margin: 0 10px 0 0;
}

.header__dot--active {
  background: #00ff5f;
}

.header__text--active {
    font-weight: bolder;
}

/* HEADER */

/* BUTTON */

.button {
    cursor: pointer;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 10px;
}

.button--lg {
    padding: 14px 32px;
    font-size: 16px;
}

.button--dark {
    background: #000;
    color: #fff;
}

.button--green {
    background: #01ff51;
    color: #333;
}

.button--grey {
    background: #d6d6d6;
    color: #333;
}

.button-group {
    display: flex;
}

.button-group .button:last-child {
    border-radius: 0 10px 10px 0;
}

.button-group .button:first-child {
    border-radius: 10px 0 0 10px;
}

/* BUTTON */

.section {
    background: #fff;
}

/* COVER */

.cover {
    padding: 0 0 40px 0;
}

.cover__container {
    padding: 0 35px;
}

.cover__image {
    margin: auto;
    width: 80%;
    height: 80vw;
    max-height: 90vh;
    max-width: 550px;
    background: url('../assets/images/cover-image.png');
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
}

.cover__body {
}

.cover__title {
    
}

.cover__text {
    margin: 15px 0;
    line-height: 1.4em;
    color: #333;
}

/* COVER */

.mimos {
    background: #ededed;
    padding: 60px 0 40px 0;
}

.mimos__body {
}

.mimos__text {
    margin: 15px 0;
    line-height: 1.4em;
    color: #333;
}


.mimos__container {
    padding: 0 35px;
}

.pay-type {
    margin: 40px 0 0 0;
}

.pay-type__button-group {
    margin: 5px 0;
}

/* SLIDE */

.slide {
    margin: 30px 0 0 0;
    display: flex;
    padding: 0 20px;
    overflow-x: auto;
}

.slide__card {
    min-width: 130px;
    height: 110px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
}

.slide__icon--alimentacao {
    background: url('../assets/icons/food.svg');
    background-size: 50%;
}
.slide__icon--compras {
    background: url('../assets/icons/shop.svg');
    background-position: center;
    background-size: 80%;
    background-repeat: no-repeat;
}
.slide__icon--educacao {
    background: url('../assets/icons/college.svg');
    background-position: center;
    background-size: 80%;
    background-repeat: no-repeat;
}
.slide__icon--entretenimento {
    background: url('../assets/icons/entretenimento.svg');
    background-position: center;
    background-size: 50%;
    background-repeat: no-repeat;
}
.slide__icon--servicos {
    background: url('../assets/icons/services.svg');
    background-position: center;
    background-size: 70%;
    background-repeat: no-repeat;
}
.slide__icon--transporte {
    background: url('../assets/icons/transportation.svg');
    background-position: center;
    background-size: 80%;
    background-repeat: no-repeat;
}
.slide__icon--viagens {
    background: url('../assets/icons/travel.svg');
    background-position: center;
    background-size: 80%;
    background-repeat: no-repeat;
}

.slide__icon {
    width: 90px;
    height: 90px;
    background-position: center;
    background-repeat: no-repeat;
}

/* SLIDE */

.descontos {
    background: #fff;
}

.descontos__container {
    padding: 40px 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.descontos__card {
    display: flex;
    width: 95%;
    align-items: center;
}

.descontos__image {
    width: 140px;
    height: 140px;
    background: black;
    border-radius: 50%;
    margin: 0 20px 0 0;
}

.descontos__body {
    display: flex;
    flex-direction: column;
}

.descontos__title {
    font-size: 22px;
    font-weight: bolder;
}

.descontos__text {
    font-size: 18px;
    margin: 5px 0 0 0;
}

.descontos__line {
    width: 80%;
    height: 1px;
    background: #bbb;
    margin: 35px 0;
}

.desktop-only {
    display: none;
}

@media (min-width: 1281px) {
    .cover {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-around;
        align-items: center;
        padding: 40px 90px 0 90px;
        padding-bottom: 0;
    }
    
    .cover__image {
        margin: 0;
        height: 535px;
        width: 620px;
    }
    
    .mimos {
        width: 50%;
    }
    .slide {
        flex-wrap: wrap;
        overflow-x: hidden;
    }
    
    .desktop-only {
        display: flex;
    }
}
